# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing
/coverage

# production
/build
/com/pet/clinic/nbactions.xml
/src/main/java/com/pet/clinic/frameOne.java
/src/main/java/com/pet/clinic/frameOne.form

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/